@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Pokemon"))
    {
        <h3>Your role is pokemon</h3>
    }
    else
    {
        <h3>Your role is pokemon Trainer</h3>
    }
}

<a class="btn btn-success" asp-controller="Access" asp-action="Index">All Access</a>
<a class="btn btn-success" asp-controller="Access" asp-action="PokemonAndBlogerAccess">PokemonAndBlogerAccess</a>
<a class="btn btn-success" asp-controller="Access" asp-action="OnlyBloggerChecker">OnlyBloggerChecker</a>
<a class="btn btn-success" asp-controller="Access" asp-action="CheckNickNameBill">CheckNickNameBill</a>